.direnv
elm/node_modules/
elm/dist/
elm/.cache/
elm/elm-stuff/
elm/upload-prod.sh
zkprotocol/Cargo.lock
zkprotocol/target
nixpkg/result
server/static/main.js
server/target/
server/temp/
server/indra/
server/*.db*
server/config.toml
target/
files/
result
server-lib/client.db
server-lib/client.db.saved
server-lib/client_files/
server-lib/client_stream.txt
server-lib/server.db
server-lib/server.db.saved
server-lib/server_files/
server-lib/server_stream.txt
server-lib/test.db
server/client_files/

# tauri-mobile
.cargo/
/gen
