elm/elm-stuff/
elm/upload-prod.sh
nixpkg/result
server/static/main.js
server/target/
server/*.db*
zkprotocol/target/
zkprotocol/Cargo.lock
elm/node_modules/
elm/dist/
server/last-email.txt
elm/.cache/
server/indra*
